body{
    background-color: whitesmoke;
}

.container{
    margin: auto;
    position: relative;
    top: 100px;
    width: 100%;
    z-index: 1;
}

.row{
    display: flex;
    justify-content: center;
}

header{
    z-index: 10;
}

.img-setting{
    width: 100%;
    border-radius: 2% 2% 0 0;
}

.description{
    text-align: justify;
    margin: 20px;
}

.cart-button{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 15px 20px 0;
    padding-top: 20px;
}

.shop-item{
    background-color: white;
    border-radius: 2%;
    box-sizing: border-box;
    padding: 0 0 20px;
    margin: 0 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.shop-item:hover{
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);

}